body {
    background-color: rgb(18, 19, 67);
}

#container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(22, 23, 50);
    margin: 70px auto;
    width: 420px;
    height: 350px;
    padding: 50px;
    border: 5px solid #ffffff;
    border-radius: 10px;
}

#main {
    color: #ffffff;
    border-bottom: 2px solid rgb(40, 40, 40);
    padding-bottom: 35px;
}

#firstline {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 35px;
}

#secondline {
    margin: 0px;
    padding-top: 0px;
    font-size: 35px;
    color: rgb(25, 191, 25);
}

#caution {
    font-size: 17px;
    font-weight: 100;
    margin-top: 10px;
}

#generator {
    background-color: rgb(25, 191, 25);
    color: #ffffff;
    font-family: inherit;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 30px;
}

#sgsns {
    margin: 30px 0px 25px 0px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}


#firstsgsn, #secondsgsn {
    background-color: rgb(40, 40, 40);
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    width: 190px;
    height: 35px; 
    padding: 5px 20px;
}

#txt {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-style: italic;
}